// colors
$accentColor = #2088b3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 940px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem


$average_font = "Gotham Pro Regular";
$bold_font = "Gotham Pro Bold";
$header_font = 'Gotham Pro Medium';
$light_font = 'Gotham Pro Light';