@require './config'

$mobileSidebarWidth = $sidebarWidth * 0.82

@media (max-width: $MQNarrow)
  .page
    padding-left $mobileSidebarWidth

@media (max-width: $MQMobile)
  .page
    padding-left 0
  .content
    margin: calc(1rem + 72px) 1rem 1rem
    padding: 1.5rem
    border-radius: 12px
  .navbar
    left: 0.5rem
    right: 0.5rem
    top: 0.5rem

@media (max-width: $MQMobileNarrow)
  h1
    font-size 1.9rem
  .content
    margin: calc(1rem + 72px) 0.5rem 1rem
    padding: 1rem
    border-radius: 8px
    div[class*="language-"]
      margin 0.85rem -1rem
      border-radius 0
