@require './config'

$mobileSidebarWidth = $sidebarWidth * 0.82

@media (max-width: $MQNarrow)
  .page
    padding-left $mobileSidebarWidth

@media (max-width: $MQMobile)
  .page
    padding-left 0

@media (max-width: $MQMobileNarrow)
  h1
    font-size 1.9rem
  .content
    div[class*="language-"]
      margin 0.85rem -1.5rem
      border-radius 0
